*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: aquamarine;
}

label{
    display: block;
}

input{
    display: block;
    margin:5px 0px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }