@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: rgb(248,249,252);
    margin: auto;
}

header{
    display: flex;
    background-color: rgb(12, 0, 14);
    height: 50px;
    text-align: center;
    justify-content: center;
    margin: 0 0 20px 0;
    color: white;
}

a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: 400;
    font-size: 14pt;
}

main{
    display: grid;
    justify-content: center;
}


label{
    display: block;
    font-size: 10pt;
    font-weight: 500;
}

input{
    display: block;
    margin:10px 0px;
    border:solid 1px lightgray;
    border-radius: 3px;
    width: 300px;
    height: 35px;
    box-sizing:border-box;
    padding-left: 10px;
}

table, th, td {
    border-collapse: collapse;
  }

  table{
      background-color: white;
      margin: 50px 0;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 3px;
  }

  th{
      background-color: rgb(96,103,209);
      color: white;
      font-weight: 600;
      font-size: 12pt;
      height: 50px;
      padding: 0 30px;
      text-align: center;
  }
  

  tr{
      background-color: rgb(223, 223, 223);
      height: 35px;
      text-align: center;
      padding: 0 15px;
      font-size: 10pt;
      font-weight: 400;
  }

  tr:nth-child(2n+1){
      background-color: white;
      color: black;
  }
  

form{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    display: grid;
    justify-content: center;
    width: 400px;
    padding: 30px 0;
}
h3{
    font-weight: 400;
    font-size: 16pt;
    text-align: center;
}

input[type=submit]{
    background-color: rgb(96,103,209);
    color: white;
    padding: 0px;
}

button{
    border: none;
    width: 45px;
    height: 25px;
    margin: 5px 5px;
    color: white;
    border-radius: 3px;
    box-shadow: 2px 2px rgba(71, 71, 71, 0.253)
}

#remove{
    background-color: rgb(237,87,76);
}

#update{
    background-color: rgb(96,103,209);
}

caption{
    font-weight: 400;
    font-size: 16pt;
    text-align: center;
    margin-bottom: 10px;
}

div{
    margin:auto;
}

.bar {
    padding: 10px;
    margin: 10px;
    color: #333;
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .error {
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #a33a3a;
  }

  .success {
    color: #2b7515;
    background: #ecffd6;
    border: 1px solid #617c42;
  }

  optgroup{
      font-weight: 600;
      color:rgb(96,103,209);
      font-size: 10pt;
      margin-bottom: 5px;
  }

  option{
      font-weight: 400;
      color:rgb(12, 0, 14);
      font-size: 10pt;
  }

  select{
      display: block;
      border:solid 1px lightgray;
      border-radius: 3px;
      width: 300px;
      height: 100px;
      box-sizing:border-box;
      padding-left: 10px;
      padding-top: 10px;
  }